<article class="chatroom-message-row {{rowClass}}">
  {{#if isReceived}}
    <img src="{{avatar}}" alt="Avatar of {{name}}" class="chatroom-message-avatar rounded-circle" width="40" height="40">
  {{/if}}
  <div class="chatroom-message-content">
    <p class="chatroom-message-text {{textClass}}">{{text}}</p>
    <p class="chatroom-message-meta {{metaClass}}">{{timestamp}}</p>
  </div>
  {{#unless isReceived}}
    <img src="{{avatar}}" alt="Avatar of {{name}}" class="chatroom-message-avatar rounded-circle" width="40" height="40">
  {{/unless}}
</article>
