<li class="chatroom-member-item" role="listitem">
  <a href="#" class="chatroom-member-link">
    <div class="chatroom-member-row">
      <div class="chatroom-member-avatar-wrapper">
        <img src="{{avatar}}" alt="Avatar of {{name}}" class="chatroom-member-avatar rounded-circle" width="40" height="40">
        <span class="chatroom-member-badge {{badgeClass}}" aria-label="{{badgeLabel}}"></span>
      </div>
      <div class="chatroom-member-info">
        <p class="chatroom-member-name">{{name}}</p>
        <p class="chatroom-member-designation">{{role}}</p>
        <p class="chatroom-member-message">{{lastMessageText}}</p>
      </div>
    </div>
    <div class="chatroom-member-meta">
      <p class="chatroom-member-time">{{lastSeen}}</p>
      {{unreadHtml}}
    </div>
  </a>
</li>
